
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}
.main-header{
  font-family: 'Montserrat', sans-serif;
}
.create-form{
  color:whitesmoke !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px !important;
}